@media (max-width: 1400px) {
  #header .container {
    width: 90%;
  }
  nav {
    gap: 27px;
  }
  .container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  nav {
    gap: 27px;
  }
}
@media (max-width: 850px) {
  nav {
    display: none;
  }
  .burger {
    display: flex;
    img {
      width: 30px;
      height: 30px;
    }
  }
  #header {
    padding-block: 25px;
  }
}
@media (max-width: 440px) {
  #header {
    padding-block: 15px;
  }
  .burger img {
    width: 20px;
    height: 20px;
  }
  .header-logo img:nth-child(1) {
    max-width: 19px;
  }
  .header-logo img:nth-child(2) {
    max-width: 120px;
  }
}
@media (max-width: 1220px) {
  .discover-text h1 {
    font-size: 50px;
  }
  .discover-text p {
    width: 90%;
    font-size: 20px;
  }
  .auctions .box h1 {
    font-size: 25px;
  }
  .auctions .box h2 {
    font-size: 22px;
  }
}
@media (max-width: 1143px) {
  .auctions .box h1 {
    font-size: 23px;
  }
  .auctions .box h2 {
    font-size: 20px;
  }
  .discover-text h1 {
    font-size: 43px;
  }
  .discover-text p {
    width: 86%;
    font-size: 14px;
  }
}
@media (max-width: 1107px) {
  .discover-image {
    max-width: 380px;
    max-height: 380px;
  }
}
@media (max-width: 938px) {
  .auctions .box h1 {
    font-size: 20px;
  }
  .auctions .box h2 {
    font-size: 16px;
  }
  .discover-text h1 {
    font-size: 35px;
  }
  .discover-text p {
    width: 81%;
    font-size: 12px;
    line-height: 21px;
  }
  .discover button {
    width: 200px;
    height: 49px;
    font-size: 14px;
    img {
      width: 15px;
    }
  }
  .discover-image {
    max-width: 330px;
    max-height: 330px;
  }
  .space {
    h1 {
      font-size: 20px;
      padding: 5px 0px 0 10px;
    }
  }
  .space .space-avatar {
    gap: 10px;
    padding: 5px 0px 6px 10px;
  }
}
@media (max-width: 811px) {
  .discover {
    gap: 15px;
  }
  .discover-text h1 {
    font-size: 32px;
  }
  .discover-text {
    gap: 10px;
  }
  .auctions .box h2 {
    font-size: 13px;
  }
}
@media (max-width: 720px) {
  .auctions .box h2 {
    font-size: 10px;
  }
  .auctions .box h1 {
    font-size: 19px;
  }
  .discover-image {
    max-width: 300px;
    max-height: 300px;
  }
  .discover-text p {
    max-width: 408px;
    line-height: 20px;
  }
}
@media (max-width: 630px) {
  .discover {
    flex-direction: column;
    align-content: start;
  }
  .discover-text h1 {
    display: none;
  }
  .discover-text::before {
    content: "Discover digital art & Collect NFTs";
    color: #fff;
    font-size: 45px;
    font-weight: 600;
  }
  .discover-text p {
    max-width: none;
    width: 100%;
    font-size: 23px;
    line-height: 30px;
  }
  #discover {
    padding-bottom: 227px;
}
  .discover-image {
    max-width: 100%;
    max-height: 500px;
  }
  .space {
    h1 {
      font-size: 25px;
      padding: 18px 0px 0 15px;
    }
  }
  .space .space-avatar {
    gap: 10px;
    padding: 11px 0px 10px 15px;
  }
  .discover-text button {
    position: absolute;
    top: 880px;
    width: 80%;
  }
  .auctions h1{
   display: flex;
  }
  .auctions {
    position: absolute;
    top: 960px;
    width: 80%;
    gap: 50px;
  }
  .auctions .box h2 {
    font-size: 26px;
  }
  .auctions .box h1 {
    font-size: 40px;
}
}
@media (max-width: 590px) {
  .auctions {
    gap: 34px;
    top: 920px;
  }
  .auctions .box h1 {
  font-size: 26px;
  }
  .auctions .box h2 {
    font-size: 23px;
}
.discover-text button {
  top: 848px;
}
}

@media (max-width: 525px) {
  .discover-text::before {
    font-size: 37px;
  }
  .discover-text p {
    width: 100%;
  }
  .auctions .box h2 {
    font-size: 21px;
  }
  .discover-text button {
    top: 810px;
}
.auctions {
  gap: 32px;
  top: 875px;
}
#discover {
  padding-bottom: 168px;
}
}
@media (max-width: 480px) {
  .discover-text button {
      top: 782px;
  }
  .auctions {
    gap: 32px;
    top: 854px;
}
}
@media (max-width: 451px) {
  .discover-text::before {
    font-size: 32px;
  }
  .discover-text p {
    font-size: 16px;
  }
  .discover-text button {
    top: 724px;
}
.auctions {
  gap: 21px;
  top: 791px;
}
}
@media (max-width: 435px) {
  .discover-text button {
      top: 680px;
  }
  .auctions {
    gap: 21px;
    top: 748px;
}
.auctions .box h1 {
  font-size: 23px;
}
.auctions .box h2 {
  font-size: 18px;
}
.discover-text::before {
  font-size: 30px;
}
.discover-text p {
  font-size: 14px;
}
.space {
  h1 {
      font-size: 22px;
      padding: 18px 0px 0 15px;
  }
}
  .space .space-avatar h2 {
    font-size: 15px;
  }
}
@media (max-width: 412px) {
  .discover-text button {
    top: 653px;
}
.auctions {
  gap: 21px;
  top: 716px;
}
}
@media (max-width: 375px) {
  .discover-text button {
      top: 626px;
  }
  .auctions {
    gap: 21px;
    top: 687px;
  }
  .auctions .box h1 {
    font-size: 20px;
}
.auctions .box h2 {
  font-size: 16px;
}
}
@media (max-width: 1255px) {
  .collection .box {
    width: 300px;
    height: 495px;
  }
  .collection .box .disco img{
    width: 90px;
    height: 90px;
}
.collection .box .disco button{
  width: 90px;
  height: 90px;
}
}
@media (max-width: 1245px) {
  .collection .box {
    width: 270px;
    height: 465px;
}
  .collection .box .disco img{
    width: 80px;
    height: 80px;
}
.collection .box .disco button{
  width: 80px;
  height: 80px;
}
}
@media (max-width: 1130px) {
  .collection .box {
    width: 240px;
    height: 410px;
}
  .collection .box .disco img{
    width: 70px;
    height: 70px;
}
.collection .box .disco button{
  width: 70px;
  height: 70px;
  font-size: 17px;
}
#collection {
  padding-block: 60px;
}
}
@media (max-width: 910px) {
  .collection .box {
    width: 210px;
    height: 380px;
}
  .collection .box .disco img{
    width: 60px;
    height: 60px;
    border-radius: 15px;
}
.collection .box .disco button{
  width: 60px;
  height: 60px;
  font-size: 17px;
  border-radius: 15px;
  font-size: 16px;
}
#collection {
  padding-bottom: 45px;
}
}
@media (max-width: 810px) {
  #box-none {
    display: none;
  }
  .collection .box {
    width: 300px;
    height: 474px;
}
.collection .box .disco img{
  width: 80px;
  height: 80px;
}
.collection .box .disco button{
width: 80px;
height: 80px;
font-size: 17px;
}
.collection-title {
  padding-bottom: 17px;
}
}
@media (max-width: 765px) {
  .collection .box {
    width: 240px;
    height: 404px;
}
.collection .box .disco img{
  width: 70px;
  height: 70px;
}
.collection .box .disco button{
width: 70px;
height: 70px;
font-size: 17px;
}
.collection-title {
  padding-bottom: 17px;
}
.collection-title p {
      font-size: 17px;
      letter-spacing: 0px;
}
#collection {
  padding-block: 27px;
}
}
@media (max-width: 630px) {
  #box-none1{
    display: none;
  }
  .collection .box {
    max-width: 500px;
    width: 100%;
    max-height: 704px;
    height: 100%;
}
}
@media (max-width: 451px) {
  .collection .box .disco img{
    width: 100px;
    height: 100px;
  }
  .collection .box .disco button{
  width: 100px;
  height: 100px;
  font-size: 22px;
  }
}
@media (max-width: 400px) {
  .collection .box .disco img{
    width: 90px;
    height: 90px;
  }
  .collection .box .disco button{
  width: 90px;
  height: 90px;
  font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .creator {
    justify-content: space-between;
    gap: 15px;
}
}
@media (max-width: 936px) {
  .creator .box {
    width: 200px;
    height: 205px;
}
}
@media (max-width: 810px) {
  .creator .box {
    width: 300px;
    height: 100px;
    flex-direction: row;
  }
  .creator .box img {
    max-width: 70px;
  }
  .creator {
    justify-content: space-between;
    gap: 8px;
  }
  .creator .box h3{
    width: 25px;
    height: 25px;
    font-size: 15px;
    top: 10px;
    left: 10px;
}
.cretor-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.creator-title {
  padding-block: 20px;
}
#creator {
  padding-top: 20px;
}
.creator-text p {
  font-size: 16px;
  letter-spacing: 0px;
}
.creator-text h1{
  font-size: 36px;
}
.creator-title button{
   width: 240px;
   height: 50px;
}
}
@media (max-width: 762px) {
  .creator .box img {
      max-width: 55px;
  }
  .creator .box h1 {
    font-size: 20px;
}
.creator .box p {
    font-size: 13px;  
}
.creator .box p span {
  font-size: 13px;
}
.creator .box {
  width: 240px;
  height: 78px;
}
}
@media (max-width: 630px) {
  .creator .box {
    justify-content: start;
  }
  .creator .box {
    width: 100%;
    height: 130px;
}
.creator .box img {
  max-width: 100px;
  padding-left: 30px;
}
.creator .box h1 {
  font-size: 30px;
}
.creator .box p {
  font-size: 20px;
}
.creator .box p span {
  font-size: 20px;
}
.creator .box h3 {
  width: 32px;
  height: 32px;
  top: 15px;
  left: 15px;
}
#creator {
  position: relative;
  padding-bottom: 100px;
}
.creator {
  gap: 15px;
}
.creator-title button {
  position: absolute;
  width: 80%;
  top: 870px;
}
}
@media (max-width: 527px) {
  .creator .box {
    height: 100px;
  }
  .creator .box img {
    max-width: 80px;
    padding-left: 19px;
 }
 .creator .box h3 {
  width: 28px;
  height: 28px;
  top: 10px;
  left: 10px;
}
.creator .box h1 {
  font-size: 26px;
}
.creator .box p span {
  font-size: 18px;
}
.creator .box p {
  font-size: 18px;
}
.creator-title button {
  top: 739px;
}
}
@media (max-width: 432px) {
  .creator .box img {
    max-width: 70px;
}
.creator .box h1 {
  font-size: 23px;
}
.creator .box p span {
  font-size: 16px;
}
.creator .box p {
  font-size: 16px;
}
.creator .box {
  height: 90px;
}
.creator-title button {
  top: 690px;
}
}
@media (max-width: 378px) {
  .creator .box p span {
    font-size: 15px;
  }
  .creator .box p {
    font-size: 15px;
  }
  .creator .box h1 {
    font-size: 21px;
  }
  .creator .box img {
    max-width: 60px;
}
}
@media (max-width: 1400px) {
  .browse {
    gap: 10px;
    justify-content: space-between;
}
}
@media (max-width: 1240px) {
  .browse .box {
    width: 220px;
    height: 296px;
  }
  .browse .box img {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 1143px) {
  .browse .box {
    width: 200px;
    height: 276px;
  }
  .browse .box img {
    width: 200px;
    height: 200px;
  }
  .browse .box .cate1 {
    height: 73%;
  }
}
@media (max-width: 1038px) {
  .browse .box {
    width: 170px;
    height: 246px;
  }
  .browse .box img {
    width: 170px;
    height: 170px;
  }
  .browse .box .cate1 {
    height: 70%;
  }
  .browse .box .cate1  img {
    width: 60px;
  }
  .browse .box h1{
      font-size: 18px;
     padding: 26px 0 26px 20px;
}
}
@media (max-width: 900px) {
  .browse .box {
    width: 140px;
    height: 186px;
  }
  .browse .box img {
    width: 140px;
    height: 140px;
  }
  .browse .box .cate1 {
    height: 76%;
  }
  .browse .box h1 {
    font-size: 13px;
    padding: 10px 0 10px 12px;
}
.browse-title {
  padding-block: 20px;
}
}
@media (max-width: 740px) {
  .browse .box {
    width: 115px;
    height: 166px;
  }
  .browse .box img {
    width: 115px;
    height: 115px;
  }
  .browse .box .cate1 {
    height: 70%;
  }
}
@media (max-width: 630px) {
  .browse .box {
    width: 210px;
    height: 286px;
  }
  .browse .box img {
    width: 210px;
    height: 210px;
  }
  .browse .box .cate1 {
    height: 74%;
  }
  .browse .box .cate1  img {
    width: 85px;
  }
  .browse .box h1 {
    font-size: 20px;
    padding: 26px 0 26px 30px;
}
.browse {
  gap: 26px;
}
}
@media (max-width: 557px) {
  .browse {
    gap: 12px;
}
.browse .box {
  width: 170px;
  height: 214px;
}
.browse .box img {
  width: 170px;
  height: 170px;
}
.browse .box .cate1 {
  height: 80%;
}
.browse .box h1 {
  font-size: 16px;
  padding: 10px 0 10px 15px;
}
.browse .box .cate1  img {
  width: 70px;
}
}
@media (max-width: 443px) {
.browse .box {
  width: 150px;
  height: 194px;
}
.browse .box img {
  width: 150px;
  height: 150px;
}
.browse .box .cate1 {
  height: 78%;
}
.browse .box .cate1  img {
  width: 60px;
}
.browse .box h1 {
  font-size: 15px;
}
#browse {
  padding-block: 20px;
}
}


