* {
  padding: 0;
  margin: 0;
  font-family: Work Sans;
  text-decoration: none;
  list-style: none;
}
body {
  background: hsla(0, 0%, 17%, 1);
}
h1,
h2,
p {
  color: hsla(0, 0%, 100%, 1);
}
button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 1);
}
.container {
  max-width: 1250px;
  width: 90%;
  margin-inline: auto;
}
#header {
  padding-block: 40px;
  .container {
    max-width: 1350px;
    width: 100%;
    margin-inline: auto;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  display: none;
}
.header-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-logo img:nth-child(1) {
  max-width: 32px;
  width: 100%;
  padding-bottom: 5px;
}
.header-logo img:nth-child(2) {
  max-width: 200px;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
nav a {
  color: hsla(0, 0%, 100%, 1);
  font-size: clamp(0.75rem, 0.668rem + 0.41vw, 1rem);
  font-weight: 600;
}
nav button {
  width: 152px;
  height: 50px;
  background: hsla(266, 100%, 67%, 1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  img {
    width: 20px;
    height: 20px;
  }
}
#discover {
  padding-block: 50px;
}
.discover {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.discover-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.discover-text h1 {
  font-size: clamp(2.188rem, 0.495rem + 4.92vw, 4.188rem);
  font-weight: 600;
}
.discover-text p {
  max-width: 500px;
  width: 100%;
  font-size: clamp(1rem, 0.683rem + 0.92vw, 1.375rem);
  font-weight: 400;
  line-height: 35px;
}
.discover button {
  width: 224px;
  height: 64px;
  background: hsla(266, 100%, 67%, 1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 20px;
  }
}
.auctions {
  display: flex;
  gap: 20px;
  h1 {
    font-size: clamp(21px, 0.942rem + 1.08vw, 28px);
    font-family: space mono;
  }
  h2 {
    font-size: clamp(16px, 0.683rem + 0.92vw, 1.375rem);
    font-weight: 400;
  }
}
.discover-image {
  max-width: 510px;
  width: 100%;
  max-height: 510px;
  height: 100%;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 100%;
  }
}
.space {
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 23%, 1);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  h1 {
    font-size: 22px;
    padding: 20px 15px 0 15px;
  }
  .space-avatar {
    display: flex;
    gap: 10px;
    padding: 5px 15px 20px 15px;
    h2 {
      font-size: 16px;
    }
    img {
      width: 20px;
    }
  }
}
#collection {
  padding-block: 90px;
}
.collection-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  gap: 15px;
  h1 {
    font-size: clamp(27px, 1.313rem + 1.5vw, 39px);
    font-weight: 600;
  }
  p {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
  }
}
.collection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.collection .box {
  width: 330px;
  height: 525px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .mrfox {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
  h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .disco {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }
    button {
      width: 100px;
      height: 100px;
      background: hsla(266, 100%, 67%, 1);
      color: hsla(0, 0%, 100%, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      font-family: Space Mono;
      font-size: 22px;
      font-weight: 700;
    }
  }
}
#creator {
  padding-block: 50px;
}
.creator-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: 60px;
  button {
    width: 247px;
    height: 60px;
    background: none;
    border: 2px solid hsla(266, 100%, 67%, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
  }
}
.creator-text {
  h1 {
    font-size: 38px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-top: 15px;
  }
}
.creator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.creator .box {
  width: 240px;
  height: 238px;
  border-radius: 20px;
  background: hsla(0, 0%, 23%, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.creator .box {
  img {
    max-width: 110px;
    width: 100%;
  }
}
.creator .box {
  h1 {
    font-size: 22px;
    font-weight: 600;
  }
}
.creator .box {
  p {
    font-size: 16px;
    font-weight: 400;
    color: hsla(60, 0%, 52%, 1);
    span {
      font-size: 16px;
      font-weight: 400;
      color: hsla(0, 0%, 100%, 1);
      font-family: Space Mono;
      padding: 0 7px;
    }
  }
}
.creator .box {
  h3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: hsla(0, 0%, 17%, 1);
    color: hsla(60, 0%, 52%, 1);
    font-size: 16px;
    font-weight: 400;
    font-family: Space Mono;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17px;
    left: 17px;
  }
}
.cretor-box {
  text-align: center;
}
#browse {
  padding-block: 50px;
}
.browse-title {
  padding-block: 50px;
  h1 {
    font-size: 38px;
    font-weight: 600;
  }
}
.browse {
  display: flex;
  flex-wrap: wrap;
  gap: 96px;
}
.browse .box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
  height: 316px;
  background: #3b3b3b;
  border-radius: 20px;
  .cate1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 76%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
.browse .box {
  img {
    width: 240px;
    height: 240px;
  }
}
.browse .box {
  h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 26px 0 26px 30px;
  }
}
.browse .box:hover{
 .cate1{
  display: none;
 }
}
#explore {
  padding: 50px 0 120px 0;
}
.explore-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: 60px;
  button {
    width: 247px;
    height: 60px;
    background: none;
    border: 2px solid hsla(266, 100%, 67%, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
  }
}
.explore-text {
  h1 {
    font-size: 38px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-top: 15px;
  }
}
.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.explore .box{
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 330px;
  height: 469px;
  background: hsla(0, 0%, 23%, 1);
  border-radius: 20px;
}
.explore .box h1{
  font-size: 22px;
  font-weight: 600;
  padding: 15px 25px 0 25px;
}
.explore .box img{
  width: 100%;
  max-height: 296px;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.moon {
  display: flex;
  gap: 15px;
  padding: 0 25px 10px 25px;
}
.explore .box .moon img{
  width: 24px;
  height: 24px;
}
.moon h2{
  font-size: 16px;
  font-weight: 400;
  font-family: Space Mono;
  padding: none;
}
.price {
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
}
.price ul li:first-child {
  font-size: 12px;
  font-weight: 400;
  color: hsla(60, 0%, 52%, 1);
  font-family: Space Mono;
}
.price ul li {
  font-size: 16px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 1);
  font-family: Space Mono;
  line-height: 28px;
}
#magic {
  width: 100%;
  height: 700px;
  position: relative;
  padding-bottom: 70px;
}
.magic-back {
  width: 100%;
  max-height: 640px;
  height: 100%;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
  position: absolute;
}
.magic3 .magic4 {
  position: absolute;
  width: 100%;
  max-height: 640px;
  height: 100%;
  z-index: -1;
}
.magic {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 350px;
}
.magic-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  h1 {
    font-size: clamp(1.625rem, 0.658rem + 2.46vw, 2.5rem);
    font-weight: 600;
  }
  button {
    width: 198px;
    height: 60px;
    border-radius: 20px;
    background: hsla(0, 0%, 100%, 1);
    color: hsla(0, 0%, 17%, 1);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
  }
  .shroomie {
    width: 151px;
    height: 64px;
    background: hsla(0, 0%, 23%, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h2 {
      font-size: 16px;
      font-weight: 400;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.auction {
  max-width: 295px;
  width: 100%;
  max-height: 144px;
  height: 100%;
  border-radius: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background: hsla(0, 0%, 23%, 0.5);
  h1 {
    font-size: 38px;
    font-weight: 700;
    font-family: Space Mono;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    font-family: Space Mono;
  }
  ul {
    display: flex;
    gap: 60px;
    li {
      font-size: 12px;
      font-weight: 400;
      font-family: Space Mono;
      color: hsla(0, 0%, 100%, 1);
    }
  }
}
.auction ul li:nth-child(2) {
  padding-left: 22px;
}
.auction ul li:nth-child(3) {
  padding-left: 3px;
}